@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

/* Default Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3rem;
}
div.app-container {
  max-width: 45rem;
  width: 100%;
  margin: 2rem auto;
}

/* Home Page */
.header {
  text-align: center;
  width: 100%;
}
.header-title {
  color: #f7f7f7;
  font-weight: 700;
  margin: 0 auto;
  font-size: 2.5rem;
}
.header-input-form input {
  width: 80%;
  height: 2.5rem;
  border: none;
  padding: 0.5rem;
}
.header-input-form input:focus {
  outline: none;
}
.btn {
  height: 2.5rem;
  border: none;
  color: #f7f7f7;
  background-color: rgba(252,176,69,1);
}
.btn:focus {
  outline: none;
}
.header-input-form button {
  width: 20%; 
}

/* List Items */
.todo-list {
  list-style: none;
  overflow-y: auto;
}
.todo-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: #f7f7f7;
  border-radius: 4px;
}
.todo-list-item--title {
  font-weight: 700;
}
.todo-list-item--date {
  font-weight: 300;
  font-size: 1rem;
}
.todo-list-item input {
  margin-right: 1rem;
}
.todo-list-item .btn {
  margin-left: auto;
  width: 20%;
  border-radius: 1rem;
  background-color: red;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 80%;
  }
  div.app-container {
    margin: 2rem auto;
  }
  .todo-list-item input {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 120%;
  }
  body {
    font-size: 1.6rem;
  }
  .btn {
    font-size: 1rem;
    padding-bottom: 0.1rem;
  }
  .todo-list-item input {
    padding: 1rem;
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2);
    transform: scale(2); /* Opera */
  }
} 